<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=dmcg70533;AccountKey=95gMmaSjuzwz2xn9Ci8LZNsDfwcq5e7U0F0k9VzY18Hz2oNBBdZzOt1NBmOrnbxA5G9MUUbC15wQPJdxIqFJYA==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>